/Praesentation.txt
/IndoorPositioningLibrary
/ModelEditor/generateExecutables/jre
/ModelEditor/generateExecutables/mac
/ModelEditor/generateExecutables/cloc.exe
/ModelEditor/generateExecutables/lines_of_code.bat
/ModelEditor/generateExecutables/Room-Model-Editor.exe
